.add-user-container,.delete-user-container{
    background-color: #80808033;
    border-radius: 5px;
    margin: 5px;
}


.icons{
    background-color: lavender;
    display: flex;
    justify-content: flex-end;
}

.add-user-icon{
    width: 20px;
    height: 20px;
    margin: 5px;
}



.delete-user-icon{
    width: 20px;
    height: 20px;
    margin: 5px;
}